.row {
  display: flex;
  flex-wrap: wrap;

  >* {
    width: 100%;
    flex-shrink: 0;
  }
}

.col {
  flex: 1 0 0%;
  padding: 1rem;
}


@for $i from 0 through 10 {
  .col-#{$i} {
    width: calc($i * 10%);
  }
}